version: '3.8'

services:
  minio:
    image: minio/minio:RELEASE.2023-08-09T23-30-22Z
    container_name: minio
    restart: unless-stopped
    ports:
      - "19000:9000"
      - "19001:9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    volumes:
      - ./minio_data:/data
    # 老版本的正确语法
    command: server --address ":9000" --console-address ":9001" /data
