<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tk.tliaswebmanagment.Mapper.ClazzMapper">
    <update id="update">
        update clazz
        <set>
            <if test="name != null and name != ''">
            name = #{name},
            </if>
            <if test="room != null and room != ''">
            room = #{room},
            </if>
            <if test="subject != null and subject != ''">
            subject = #{subject},
            </if>
            <if test="masterId != null">
            master_id = #{masterId},
            </if>
            <if test="beginDate != null">
            begin_date = #{beginDate},
            </if>
            <if test="endDate != null">
            end_date = #{endDate},
            </if>
            update_time = #{updateTime}
        </set>
        where id = #{id}
    </update>
    <select id="getClazzsPage" resultType="com.tk.tliaswebmanagment.pojo.Clazz">
        select c.id,
        c.name,
        c.room,
        c.begin_date,
        c.end_date,
        c.master_id,
        c.subject,
        c.create_time,
        c.update_time,
        e.name as master_name,
        (CASE
        WHEN (c.begin_date &gt; #{currentDate}) THEN N'未开班'
        WHEN (c.end_date &lt; #{currentDate}) THEN N'已结课'
        ELSE N'在读'
        END)
        as status
        from clazz c
        left join emp e on c.master_id = e.id
        <where>
            <if test="clazzQueryParam.name != null and clazzQueryParam.name != ''">
                and c.name like concat('%', #{clazzQueryParam.name}, '%')
            </if>
            <if test="clazzQueryParam.begin != null">
                and c.begin_date &gt;= #{clazzQueryParam.begin}
            </if>
            <if test="clazzQueryParam.end != null">
                and c.end_date &lt;= #{clazzQueryParam.end}
            </if>
        </where>
        order by update_time desc
    </select>
</mapper>