<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tk.tliaswebmanagment.Mapper.EmpMapper">

    <!-- 动态查询员工列表 -->
    <select id="getEmpByPage" parameterType="com.tk.tliaswebmanagment.pojo.EmpQuerryParam" resultType="com.tk.tliaswebmanagment.pojo.Emp">
        SELECT e.*, d.name AS deptName
        FROM emp e
        LEFT JOIN dept d ON e.dept_id = d.id
        <where>
            <if test="name != null and name != ''">
                AND e.name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="gender != null">
                AND e.gender = #{gender}
            </if>
            <if test="entryStartDate != null">
                AND e.entry_date &gt;= #{entryStartDate}
            </if>
            <if test="entryEndDate != null">
                AND e.entry_date &lt;= #{entryEndDate}
            </if>
        </where>
        ORDER BY e.update_time DESC
    </select>

    <!-- 新增员工 -->
    <insert id="addEmp" parameterType="com.tk.tliaswebmanagment.pojo.Emp">
        INSERT INTO emp (
            username, password, name, gender, phone, job, salary, image,
            entry_date, dept_id, create_time, update_time
        ) VALUES (
            #{username}, #{password}, #{name}, #{gender}, #{phone}, #{job}, #{salary}, #{image},
            #{entryDate}, #{deptId}, #{createDate}, #{updateDate}
        )
    </insert>

    <!-- 修改员工 -->
    <update id="updateEmp" parameterType="com.tk.tliaswebmanagment.pojo.Emp">
        UPDATE emp
        <set>
            <if test="username != null and username != ''">
                username = #{username},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="gender != null">
                gender = #{gender},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="job != null">
                job = #{job},
            </if>
            <if test="salary != null">
                salary = #{salary},
            </if>
            <if test="image != null and image != ''">
                image = #{image},
            </if>
            <if test="entryDate != null">
                entry_date = #{entryDate},
            </if>
            <if test="deptId != null">
                dept_id = #{deptId},
            </if>
            update_time = #{updateDate}
        </set>
        WHERE id = #{id}
    </update>

    <!-- 批量删除员工 -->
    <delete id="deleteEmps" parameterType="list">
        DELETE FROM emp WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>