<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tk.tliaswebmanagment.Mapper.EmpMapper">
    <resultMap id="empResultMap" type="com.tk.tliaswebmanagment.pojo.Emp" autoMapping="true">
        <id property="id" column="id"/>
        <result property="deptName" column="dept_name"/>
        <collection property="exprList" ofType="com.tk.tliaswebmanagment.pojo.EmpExpr" autoMapping="true">
            <id property="id" column="expr_id"/>
            <result column="expr_job"  property="job" />
        </collection>
    </resultMap>

    <!-- 动态查询员工列表 -->
    <select id="getEmpByPage" parameterType="com.tk.tliaswebmanagment.pojo.EmpQuerryParam" resultType="com.tk.tliaswebmanagment.pojo.Emp">
        SELECT e.id,
               e.username,
               e.name,
               e.gender,
               e.phone,
               e.job,
               e.salary,
               e.image,
               e.entry_date,
               e.dept_id,
               e.create_time,
               e.update_time,
               d.name AS deptName
        FROM emp e
        LEFT JOIN dept d ON e.dept_id = d.id
        <where>
            <if test="name != null and name != ''">
                AND e.name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="gender != null">
                AND e.gender = #{gender}
            </if>
            <if test="entryStartDate != null">
                AND e.entry_date &gt;= #{entryStartDate}
            </if>
            <if test="entryEndDate != null">
                AND e.entry_date &lt;= #{entryEndDate}
            </if>
        </where>
        ORDER BY e.update_time DESC
    </select>

        <!-- 根据id查询员工 -->
    <select id="getEmpById" resultMap="empResultMap">
        select
            e.id,
            e.username,
            e.name,
            e.gender,
            e.phone,
            e.job,
            e.salary,
            e.image,
            e.entry_date,
            e.dept_id,
            e.create_time,
            e.update_time,
            d.name as dept_name,
            eexpr.id as expr_id,
            eexpr.emp_id,
            eexpr.begin,
            eexpr.end,
            eexpr.company,
            eexpr.job as expr_job
        from emp e
            left join emp_expr eexpr on e.id = eexpr.emp_id
            left join dept d on e.dept_id = d.id
        where e.id = #{id}
    </select>

        <!-- 查询所有员工 -->
    <select id="getEmpList" resultType="com.tk.tliaswebmanagment.pojo.Emp">
        select
            e.id,
            e.username,
            e.name,
            e.gender,
            e.phone,
            e.job,
            e.salary,
            e.image,
            e.entry_date,
            e.dept_id,
            e.create_time,
            e.update_time,
            d.name as dept_name
        from emp as e left join dept as d on e.dept_id = d.id
    </select>

    <select id="countEmpJobData" resultType="java.util.Map">
        SELECT
            CASE
                WHEN job=1 THEN '班主任'
                WHEN job=2 THEN '讲师'
                WHEN job=3 THEN '学工主管'
                WHEN job=4 THEN '教研主管'
                WHEN job=5 THEN '咨询师'
                ELSE '其他'
                END as pos,
            COUNT(*) as num
        FROM emp
        GROUP BY pos
        ORDER BY num DESC;
    </select>
    <select id="countEmpGenderData" resultType="java.util.Map">
        SELECT
            if(gender=1,'男','女') as name,
            COUNT(*) as value
        FROM emp
        GROUP BY gender
    </select>


    <!-- 修改员工 -->
    <update id="updateEmp" parameterType="com.tk.tliaswebmanagment.pojo.Emp">
        UPDATE emp
        <set>
            <if test="username != null and username != ''">
                username = #{username},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="gender != null">
                gender = #{gender},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="job != null">
                job = #{job},
            </if>
            <if test="salary != null">
                salary = #{salary},
            </if>
            <if test="image != null and image != ''">
                image = #{image},
            </if>
            <if test="entryDate != null">
                entry_date = #{entryDate},
            </if>
            <if test="deptId != null">
                dept_id = #{deptId},
            </if>
            update_time = #{updateTime}
        </set>
        WHERE id = #{id}
    </update>

    <!-- 批量删除员工 -->
    <delete id="deleteEmps" parameterType="list">
        DELETE FROM emp WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>